<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<!-- Page content goes here -->
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Witaj w naszym EVENT Service!</h1>
        <p class="lead">Ta aplikacja umożliwi Ci tworzenie i sprawne zarządzanie Eventem.</p>
        <hr class="my-4">
        <h3>A zatem  ->  DO DZIEŁA!!! </h3>
        <p>Co dzisiaj stworzysz?  :)</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="https://spring.io/projects/spring-security" role="button">Dowiedz się więcej</a>
        </p>
    </div>
</div>
</body>
</html>